
<div>
	<button class="btn" ng-click="playerCtrl.previous()">
		<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
	</button>

	<button class="btn" ng-click="playerCtrl.play()"
		ng-if="playerCtrl.state.action !== 'PLAY'">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.pause()"
		ng-if="playerCtrl.state.action === 'PLAY' ">
		<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.next()">
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
	</button>
</div>