
<!-- <div> -->
<!-- 	<h2 ng-if="playerCtrl.music.title">{{playerCtrl.music.artist.name}} - -->
<!-- 		{{playerCtrl.music.title}}</h2> -->
<!-- 		<p class="list-group-item-text">{{playerCtrl.music.album.name}}</p> -->
<!-- </div> -->
<div>
	<button class="btn" ng-click="playerCtrl.previous()">
		<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
	</button>

	<button class="btn" ng-click="playerCtrl.play()" ng-if="playerCtrl.state.action !== 'PLAY'">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.pause()"  ng-if="playerCtrl.state.action === 'PLAY' ">
		<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
	</button>
		<button class="btn" ng-click="playerCtrl.next()">
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
	</button>
<!-- 	<button class="btn" ng-click="playerCtrl.stop()"> -->
<!-- 		<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> -->
<!-- 	</button> -->

</div>
<div>
	<ul class="list-group">
		<li class="list-group-item" ng-class="{active : playerCtrl.checkActive(music)}" ng-repeat="music in playerCtrl.playlist">
			<music-item music="music" remove="playerCtrl.remove(music)" is-playlist="true" is-current="playerCtrl.checkActive(music)">
		
			</music-item>
<!-- 			<h4 class="list-group-item-heading">{{music.artist.name}} - -->
<!-- 				{{music.title}}</h4> -->
<!-- 			<p class="list-group-item-text">{{music.album.name}}</p> -->
		</li>
	</ul>
</div>