
<div>
	<p>
		{{playerCtrl.music.title}} - {{playerCtrl.music.artist.name}}
	</p>
</div>
<div>
<button class="btn" ng-click="playerCtrl.previous()">
		<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.next()">
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.play()">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.pause()">
		<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
	</button>
	<button class="btn" ng-click="playerCtrl.stop()">
		<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
	</button>
</div>
